/* override transform from psk-page-not-found */

psk-page[data-shadow] .page-title {
    padding-left: 60px;
}

psk-page[data-shadow] .page-title h1 {
    font-family: monospace;
    font-weight: lighter;
    font-size: 1.3rem;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-left: 0;
    padding: 0.3rem 0.4rem;
    color: var(--webc-primary-background);
}

psk-page-not-found[data-shadow] psk-page-not-found-renderer[data-shadow] .container {
    transform: none !important;
}